

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^docs/(.+) [NC]
    RewriteRule (.+) - [NC,L]
    # http://docs.%{HTTP_HOST}%{REQUEST_URI}
    RewriteRule %{HTTP_HOST}/docs\.(.+) - [NC,L,R=301]

    RewriteCond %{HTTP_HOST} ^sandwichcord/(.+) [NC]
    RewriteRule (.+) http://jaxsandwich.com/dev/sandwichbots/sandwichcord/ [NC,L]
    
    RewriteCond %{HTTP_HOST} ^bot/(.+) [NC]
    RewriteRule (.+) http://jaxsandwich.com/dev/bot/ [NC,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_URI} (.+)/
    # RewriteRule ^ %1/ [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
</IfModule>