.flotante, .tarjeta{
    box-shadow: 4px 4px 10px #500;
}
.tarjeta{
    border: none;
    border-radius: 5px;
    position: relative;
}
.note{
    left: 1%!important;
    top: 5%!important;
    border-radius: 7px!important;
    padding: 2px 7px 3px 7px!important;
    color: #fff!important;
    font-size: .75em!important;
    font-weight: 700!important;
    line-height: 1!important;
}